:root {
    --cream-bg: #F8E9DD;
    --red: #EC755D;
    --white: #FFF;
    --card-white: #FFFBF6;
    --dark-brown: #382314;
    --medium-brown: #92857A;
    --light-brown: #F8E9DD;
    --cyan: #76B5BC;
    --pale-red: #FF9B86;
    --pale-cyan: #B4E0E5;
}